<div class="measurement-row">
  <div class="xps_plot">
    {{ measurement.script }}
    {{ measurement.div }}
  </div>

  <div class="table_column">
    <table style:"width=100%" >
      <tr>
        <th id="{{ measurement.m_id() }}">ID</th>
        <td>{{ measurement.m_id() }}</td>
      </tr>
      <tr>
        <th>Datetime</th>
        <td>{{ measurement.datetime().strftime("%Y-%m-%d %H:%M:%S") }}</td>
      </tr>
      <tr>
        <th>Mode</th>
        <td>{{ measurement.mode }}</td>
      </tr>
      <tr>
        <th>Region</th>
        <td>{{ "{:.0f}".format(measurement.e_start) }} - {{ "{:.0f}".format(measurement.e_stop) }} eV</td>
      </tr>
      <tr>
        <th>Step</th>
        <td>{{ "{:.2f}".format(measurement.stepwidth) }} eV</td>
      </tr>
      <tr>
        <th>Sweeps</th>
        <td>{{ measurement.scan_num }}</td>
      </tr>
      <tr>
        <th>t<sub>dwell</sub></th>
        <td>{{ measurement.dwell_time }} ms</td>
      </tr>
      <tr>
        <th>t<sub>retrace</sub></th>
        <td>{{ measurement.retrace_time }} ms</td>
      </tr>
      <tr>
        <th>Resolution</sub></th>
        <td>{{ measurement.res }} %</td>
      </tr>
      <tr>
        <th>Resolution Mode</sub></th>
        <td>{{ measurement.res_mode }}</td>
      </tr>
    </table>
  </div>
</div><!-- End row -->
