<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }} - Report</title>
    <!-- The CDN scripts must match the bokeh version used -->
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.5.0.min.js" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.5.0.min.js" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.5.0.min.js" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.5.0.min.js" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.5.0.min.js" crossorigin="anonymous"></script> -->
    <script src="https://unpkg.com/feather-icons"></script>
    <style>{% include 'style.css' %}</style>
</head>

<body>
    <div class="navbar">
        <ul>
            <li id="menu"><i data-feather="menu"></i></li>
            <li ><a href="file:///{{ files_dir }}" >{{ title }}</a></li>
            <!-- <li class="navbar_li">{{ title }} - Report</li> -->
        </ul>
    </div>

    <!-- The collapsable overview grid, handeled by `overview.js` -->
    <details open>
        <summary>Overview</summary>
        <div id="overview"></div>
    </details>

    <!-- Loop through the `process_objs` and choose the according template -->
    {% for entry in process_objs %}
        {% if entry.ident == "MTRX" %}
            {% include "mtrx.j2" %}
        {% elif entry.ident == "MUL" %}
            {% include "mul.j2" %}
        {% elif entry.ident == "SM4" %}
            {% include "sm4.j2" %}
        {% elif entry.ident == "SXM" %}
            {% include "sxm.j2" %}
        {% elif entry.ident == "NID" %}
            {% include "nid.j2" %}
        {% elif entry.ident == "AES" %}
            {% include "aes.j2" %}
        {% elif entry.ident == "XPS" %}
            {% include "xps_eis.j2" %}
        {% elif entry.ident == "QCMB" %}
            {% include "qcmb.j2" %}
        {% elif entry.ident == "EC4"
            or entry.ident == "CV_LABVIEW"
            or entry.ident == "CA_LABVIEW"
            or entry.ident == "FFT_LABVIEW"
            or entry.ident == "CA_PALMSENS"
            or entry.ident == "CP_PALMSENS"
            or entry.ident == "LSV_PALMSENS"
            or entry.ident == "EIS_PALMSENS"
            or entry.ident == "CV_PALMSENS"
        %}
            {% include "ec4.j2" %}
        {% elif entry.ident == "IMAGE" %}
            {% include "image.j2" %}
        {% elif entry.ident == "TPD" %}
            {% include "tpd.j2" %}
        {% endif %}
    {% endfor %}


    <!--  Modal -->
    <div id="modal">
        <span id="close" class="close">&times;</span>
        <span id="slide-info">info</span>
        <div class="modal-image-container">
            <a id="prev" class="prev-next">&#10094;</a>
            <div id="modal-image">
                <p></p>
            </div>
            <a id="next" class="prev-next">&#10095;</a>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-content"
            <ul>
                <li><a href="#overview">Overview</a></li>
                {% for entry in process_objs %}
                    <li><a href="#{{ entry.m_id }}">{{ entry.m_id }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Top Button -->
    <button onclick="topFunction()" id="top_button" title="Go to top">
        <i id="top-button-icon" data-feather="arrow-up-circle"></i>
    </button>

    <!-- Script to activate feather icons -->
    <script>feather.replace()</script>
    <!-- Scripts used for interactive functionality -->
    <script>{% include 'overview.js' %}</script>
    <script>{% include 'modal.js' %}</script>
    <script>{% include 'top_button.js' %}</script>
    <script>{% include 'sidebar.js' %}</script>
</body>
