<div class="measurement-row">
    <div class="xps_plot">
        {{ measurement.script }}
        {{ measurement.div }}
    </div>

    <div class="table_column">
        <table style:"width=100%">
            <tr>
                <th id="{{ measurement.m_id() }}">ID</th>
                <td>{{ measurement.m_id() }}</td>
            </tr>
            <tr>
                <th>Datetime</th>
                <td>{{ measurement.datetime().strftime("%Y-%m-%d") }} <br> {{ measurement.datetime().strftime("%H:%M:%S") }}</td>
            </tr>
            <tr>
                <th>EC Type</th>
                <td>{{ measurement.ec_type }}</td>
            </tr>
            <tr>
                <th>Controller</th>
                <td>{{ measurement.controller }}</td>
            </tr>

            {% if measurement.u_start %}
                <tr>
                    <th>U<sub>start</sub></th>
                    <td>{{ "{:.3f}".format(measurement.u_start) }} V</td>
                </tr>
                <tr>
                    <th>U<sub>1</sub></th>
                    <td>{{ "{:.3f}".format(measurement.u_1) }} V</td>
                </tr>
                <tr>
                    <th>U<sub>2</sub></th>
                    <td>{{ "{:.3f}".format(measurement.u_2) }} V</td>
                </tr>
                <tr>
                    <th>Scanrate</th>
                    <td>{{ "{:.3f}".format(measurement.scanrate) }} V</td>
                </tr>
            {% endif %}

        </table>
    </div>
</div>
