<div class="measurement-row">
    <div class="table_column">
        <table style:"width=100%">
            <tr>
                <th id="{{ measurement.m_id() }}">ID</th>
                <td>{{ measurement.m_id() }}</td>
            </tr>
            <tr>
                <th>Datetime</th>
                <td>{{ measurement.datetime().strftime("%Y-%m-%d %H:%M:%S") }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ measurement.type_ }}</td>
            </tr>
            <tr>
                <th>Operator</th>
                <td>{{ measurement.operator }}</td>
            </tr>
            <tr>
                <th>Team</th>
                <td>{{ measurement.team }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ measurement.tags }}</td>
            </tr>
        </table>
    </div>
    <div class="remark_colummn">
        {{ measurement.body_html }}
    </div>
</div>
