<div class="measurement-row">

  <div class="stm_image_fw">
    <img id="{{ measurement.m_id() }}" src="{{ measurement.img_data_fw.data_uri }}" class="hover-shadow" data-slide-num="{{ measurement.slide_num }}" />
  </div>
  <div class="stm_image_bw">
    <img id="{{ measurement.m_id() }}" src="{{ measurement.img_data_bw.data_uri }}" class="hover-shadow" data-slide-num="{{ measurement.slide_num }}" />
  </div>


  <!-- IMAGE METADATA -->
  <div class="table_column">
    <table>
      <tr>
        <th>Image ID <br> &nbsp;&nbsp;&nbsp;(number)</th>
        <td><a href="file:///{{ measurement.fileinfo.filepath }}">{{ measurement.m_id }}</a> <br> {{ measurement.slide_num }}</td>
      </tr>
      <tr>
        <th>Datetime</th>
        <td>{{ measurement.datetime.strftime("%Y-%m-%d") }} <br> {{ measurement.datetime.strftime("%H:%M:%S") }}</td>
      </tr>
      <tr>
        <th>Controller</th>
        <td>Matrix</td>
      </tr>
      <tr>
        <th>Op. mode</th>
        <td>{{ measurement.op_mode }}</td>
      </tr>
      <tr>
        <th>I<sub>t</sub></th>
        <td>{{ "{:.2g}".format(measurement.current) }} nA</td>
      </tr>
      <tr>
        <th>U<sub>b</sub></th>
        <td>{{ "{:+.2g}".format(measurement.bias) }} V</td>
      </tr>
      <tr>
        <th>Comment</th>
        <td>{{ measurement.creation_comment }}</td>
      </tr>
      <tr>
        <th>Data Set</th>
        <td>{{ measurement.data_set_name }}</td>
      </tr>
      <tr>
        <th>Sample</th>
        <td>{{ measurement.sample_name }}</td>
      </tr>
    </table>
  </div>

  <div class="table_column">
    <table>
      <tr>
        <th></th>
        <td>&nbsp;</td>
      </tr>
        <tr>
          <th>P / I</th>
          <td>{{ "{:.2f}".format(measurement.p_gain) }} / {{ "{:.2f}".format(measurement.i_gain) }} %</td>
        </tr>    
      <tr>
        <th>Scan size</th>
        <td>{{ "{:.0f}".format(measurement.xsize) }} &#215; {{ "{:.0f}".format(measurement.ysize) }} nm&#178;</td>
      </tr>
      <tr>
        <th>Resolution</th>
        <td>{{ measurement.xres }} &#215; {{ measurement.yres }}</td>
      <tr>
        <th>Line time</th>
        <td>{{ "{:.1f}".format(measurement.line_time) }} ms</td>
      </tr>
      </tr>
        <th>Scan time</th>
        <td>{{ "{:.2f}".format(measurement.scan_duration) }} s</td>
      </tr>
      {% if measurement.retrace == 'True' %}
          <tr>
            <th>Scan direct.</th>
            <td>down</td>
          </tr>
      {% endif %}
      {% if measurement.retrace == 'False' %}
          <tr>
            <th>Scan direct.</th>
            <td>up</td>
          </tr>
      {% endif %}
      <tr>
        <th>Offset</th>
        <td>{{ "{:+.1f}".format(measurement.xoffset) }} nm <br> {{ "{:+.1f}".format(measurement.yoffset) }} nm</td>
      </tr>
      <tr>
        <th>Rotation</th>
        <td>{{ measurement.rotation }}&#176;</td>
      <tr>
      {% if measurement.is_drift_compensation_enabled == 'True' %}
          <tr>
            <th>Drift</th>
            <td>{{ "{:.2f}".format(measurement.xdrift) }} nm/s <br> {{ "{:.2f}".format(measurement.ydrift) }} nm/s</td>
          </tr>
      {% endif %}

    </table>
  </div>

  {% if measurement.labjournal_data is not none %}
  <div class="table_column">
    <table>
    {% for key, value in measurement.labjournal_data.items() %}
      <tr>
        <th>{{ key }}</th>
        <td>{{ value[0] }}</td>
      </tr>
    {% endfor %}
    </table>
  </div>
  {% endif %}

</div><!-- End of one row -->
