<div class="measurement-row">

  <div class="stm_image_fw">
    <img id="{{ measurement.m_id() }}" src="{{ measurement.img_data_fw.data_uri }}" class="hover-shadow" data-slide-num="{{ measurement.slide_num }}" />
  </div>
  <div class="stm_image_bw">
    <img id="{{ measurement.m_id() }}" src="{{ measurement.img_data_bw.data_uri }}" class="hover-shadow" data-slide-num="{{ measurement.slide_num }}" />
  </div>


  <!-- IMAGE METADATA -->
  <div class="table_column">
    <table>
      <tr>
        <th>Image ID</th>
        <td><a href="file:///{{ measurement.fileinfo.filepath }}">{{ measurement.m_id() }}</td>
      </tr>
      <tr>
        <th>Number</th>
        <td>{{ measurement.slide_num }}</td>
      </tr>
      <tr>
        <th>Datetime</th>
        <td>{{ measurement.datetime().strftime("%Y-%m-%d %H:%M:%S") }}</td>
      </tr>
      <tr>
      <tr>
        <th>I<sub>tun</sub></th>
        <td>{{ "{:.2f}".format(measurement.current) }} nA</td>
      </tr>
      <tr>
        <th>U<sub>tun</sub></th>
        <td>{{ "{:.1f}".format(measurement.bias) }} mV</td>
      </tr>
      <tr>
        <th>Scan Size</th>
        <td>{{ "{:.0f}".format(measurement.xsize) }} &#215; {{ "{:.0f}".format(measurement.ysize) }} nm&#178;</td>
      </tr>
      <tr>
        <th>Resolution</th>
        <td>{{ measurement.xres }} &#215; {{ measurement.yres }}</td>
      </tr>
      <tr>
        <th>Rotation</th>
        <td>{{ measurement.rotation }}&#176;</td>
      <tr>
        <th>Scan Duration</th>
        <td>{{ "{:.2f}".format(measurement.scan_duration) }} s</td>
      </tr>
      <tr>
        <th>Line Time</th>
        <td>{{ "{:.2f}".format(measurement.line_time) }} ms</td>
      </tr>
      <tr>
        <th>Offset</th>
        <td>{{ "{:.2f}".format(measurement.xoffset) }} nm, {{ "{:.2f}".format(measurement.yoffset) }} nm</td>
      </tr>
      {% if measurement.is_drift_compensation_enabled == True %}
          <tr>
            <th>Drift</th>
            <td>{{ "{:.2f}".format(measurement.xdrift) }} nm, {{ "{:.2f}".format(measurement.ydrift) }} nm</td>
          </tr>
      {% endif %}

      {% if measurement.p_gain %}
          <tr>
            <th>P / I</th>
            <td>{{ "{:.2f}".format(measurement.p_gain) }} / {{ "{:.2f}".format(measurement.i_gain) }}</td>
          </tr>
      {% endif %}

    </table>
  </div>

  <div class="table_column">
    <table style:"width=100%" >
      <tr>
        <th>Comment</th>
        <td>{{ measurement.creation_comment }}</td>
      </tr>
      <tr>
        <th>Data Set</th>
        <td>{{ measurement.data_set_name }}</td>
      </tr>
      <tr>
        <th>Sample</th>
        <td>{{ measurement.sample_name }}</td>
      </tr>
    </table>
  </div>
</div><!-- End of one row -->
