<div class="row" id="{{ entry.m_id() }}">
    <div class="qcmb_plot">
        {{ entry.script }}
        {{ entry.div }}
    </div>

    <div class="table_column">
        <table style:"width=100%">
            <tr>
                <th>ID</th>
                <td>{{ entry.m_id() }}</td>
            </tr>
            <tr>
                <th>Datetime</th>
                <td>{{ entry.datetime().strftime("%Y-%m-%d %H:%M:%S") }}</td>
            </tr>
            <tr>
        </table>
    </div>
</div>
