<div class="measurement-row" id="{{ measurement.m_id() }}">
    <div class="qcmb_plot">
        {{ measurement.script }}
        {{ measurement.div }}
    </div>

    <div class="table_column">
        <table style:"width=100%">
            <tr>
                <th>ID</th>
                <td>{{ measurement.m_id() }}</td>
            </tr>
            <tr>
                <th>Datetime</th>
                <td>{{ measurement.datetime().strftime("%Y-%m-%d <br> %H:%M:%S") }}</td>
            </tr>
            <tr>
        </table>
    </div>
</div>
