<div class="measurement-row">

    <div class="stm_image_fw">
        <img id="{{ measurement.m_id() }}" src="{{ measurement.img_data_fw.data_uri }}" class="hover-shadow"
            data-slide-num="{{ measurement.slide_num }}" />
    </div>
    <div class="stm_image_bw">
        <img id="{{ measurement.m_id() }}" src="{{ measurement.img_data_bw.data_uri }}" class="hover-shadow"
            data-slide-num="{{ measurement.slide_num }}" />
    </div>

    <!-- ECSTM specific data -->
    {% if measurement.voltage_div and measurement.voltage_script %}
        <div class="ecstm-plot">
            {{ measurement.voltage_script }}
            {{ measurement.voltage_div }}
        </div>
    {% endif %}

    {% if measurement.current_div and measurement.current_script %}
        <div class="ecstm-plot">
            {{ measurement.current_script }}
            {{ measurement.current_div }}
        </div>
    {% endif %}

    <!-- IMAGE METADATA -->
    <div class="table_column">
        <table>
            <tr>
                <th>Image ID</th>
                <td><a href="file:///{{ measurement.fileinfo.filepath }}">{{ measurement.m_id() }}</td>
            </tr>
            <tr>
                <th>Datetime</th>
                <td>{{ measurement.datetime().strftime("%Y-%m-%d %H:%M:%S") }}</td>
            </tr>
            <tr>
                <th>I<sub>t</sub></th>
                <td>{{ "{:.2f}".format(measurement.current) }} nA</td>
            </tr>
            <tr>
                <th>U<sub>b</sub></th>
                <td>{{ "{:.2f}".format(measurement.bias) }} V</td>
            </tr>
            <tr>
                <th>Scan Size</th>
                <td>{{ "{:.0f}".format(measurement.xsize) }} &#215; {{ "{:.0f}".format(measurement.ysize) }} nm&#178;</td>
            </tr>
            <tr>
                <th>Resolution</th>
                <td>{{ measurement.xres }} &#215; {{ measurement.yres }}</td>
            </tr>
            <tr>
                <th>Tilt</th>
                <td>{{ measurement.tilt }}&#176;</td>
            <tr>
                <th>Scan Duration</th>
                <td>{{ "{:.2f}".format(measurement.speed) }} s</td>
            </tr>
            <tr>
                <th>Line Time</th>
                <td>{{ "{:.2f}".format(measurement.line_time) }} ms</td>
            </tr>
            <tr>
                <th>Offset</th>
                <td>{{ "{:.2f}".format(measurement.xoffset) }} nm, {{ "{:.2f}".format(measurement.yoffset) }} nm</td>
            </tr>
        </table>
    </div>
</div>
