<div class="row">
    <div class="xps_plot">
        {{ entry.script }}
        {{ entry.div }}
    </div>

    <div class="table_column">
        <table style:"width=100%">
            <tr>
                <th id="{{ entry.m_id() }}">ID</th>
                <td>{{ entry.m_id() }}</td>
            </tr>
            <tr>
                <th>Datetime</th>
                <td>{{ entry.datetime().strftime("%Y-%m-%d %H:%M:%S") }}</td>
            </tr>
        </table>
    </div>
</div>
