{% for xps_scan in measurement.data %}
    <div class="measurement-row">
        <div class="xps_plot" >
            {{ xps_scan.script }}
            {{ xps_scan.div }}
        </div>

        <div class="table_column">
            <table style:"width=100%">
                <tr>
                    <th>File ID</th>
                    <td><a href="file:///{{ measurement.fileinfo.filepath }}">{{ xps_scan.m_id }}</a></td>
                </tr>
                <tr>
                    <th>Date/time</th>
                    <td>{{ measurement.datetime().strftime("%Y-%m-%d <br> %H:%M:%S") }}</td>
                </tr>
                <tr>
                    <th>Controller </th>
                    <td>EIS</td>
                </tr>
                <tr>
                    <th>Op. mode</th>
                    <td>{{ xps_scan.mode }}</td>
                </tr>
                <tr>
                    <th>Notes</th>
                    <td>{{ xps_scan.notes }}</td>
                </tr>
                <tr>
                    <th>Region</th>
                    <td>{{ xps_scan.start }} - {{ xps_scan.end }} eV</td>
                </tr>
                <tr>
                    <th>Step</th>
                    <td>{{ xps_scan.step }} eV</td>
                </tr>
                <tr>
                    <th>Sweeps</th>
                    <td>{{ xps_scan.sweeps }}</td>
                </tr>
                <tr>
                    <th>Dwell</th>
                    <td>{{ xps_scan.dwell }} s</td>
                </tr>
                <tr>
                    <th>E<sub>pass</sub></th>
                    <td>{{ xps_scan.e_pass }} eV</td>
                </tr>
            </table>
        </div>
    </div>
{% endfor %}
