<div class="row">
  <div class="qcmb_plot">
    {{ obj.script }}
    {{ obj.div }}
  </div>

  <div class="table_column">
    <table style:"width=100%" >
      <tr>
        <th>ID</th>
        <td>{{ obj.m_id }}</td>
      </tr>
      <tr>
        <th>Datetime</th>
        <td>{{ obj.datetime }}</td>
      </tr>
      <tr>
    </table>
  </div>

  {% if obj.remark %}
  <div class="remark_column">
    <b>Remark</b>
    <p>{{ obj.remark }}</p>
  </div>
  {% endif %}

</div><!-- End row -->

