<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }} - Report</title>
    <script>{% include 'bokeh-2.4.3.min.js' %}</script>
    <script>{% include 'bokeh-widgets-2.4.3.min.js' %}</script>
    <script>{% include 'bokeh-tables-2.4.3.min.js' %}</script>
    <style>{% include 'style.css' %}</style>
  </head>
  <body>
    <button onclick="topFunction()" id="top_button" title="Go to top"><strong>▲</strong></button> 
    <h1>{{ title }} - Report</h1>
      <div>
          <ul class="navbar_ul">
          <li class="navbar_li"><a href="file:///{{ files_dir }}" class="navbar_a">Files</a></li>
          </ul>
      </div>
      <div id="toc">
      {% for obj in data_objs %}
            {% if check_type(obj, 'ErrorFile') %}
                <div id="error-file">'{{ obj.basename }}' could not be processed!</div>
            {% endif %}
      {% endfor %}
        <h2>Multi-Files and Movies</h2>
          {% for obj in data_objs %}
            {% if check_type(obj, 'MulImage') and obj.m_id.endswith('_1') %}
                <li><a href="#{{ obj.basename }}">{{ obj.basename }}</a>
                    {% if obj.nap_gas is defined %}
                        <strong>NAP-Gas: </strong> {{ obj.nap_gas }}, 
                        <strong>p<sub>NAP</sub></strong> = {{ obj.nap_p }}, 
                        <strong>T</strong> = {{ obj.T }}
                    {% endif %}
                    <!-- (<strong>Sputtering:</strong> E = {{ obj.sp_E }} keV, p(Ar) = {{ obj.sp_p }} mbar, t = {{ obj.sp_t }} min; -->
                    <!-- <strong>Annealing:</strong> T = {{ obj.an_T }} K, p(O<sub>2</sub>) = {{ obj.an_p }} mbar, t = {{ obj.an_t}} min) -->
                </li>

            {% elif  check_type(obj, 'XpsScan') and obj.m_id.endswith('_1') %}
                <li><a href="#{{ obj.basename }}">{{ obj.basename }}</a>
                </li>

            {% elif check_type(obj, 'StmFlm') %}
                <li><a href="{{ obj.mp4_name }}">{{ obj.basename }}</a></li>

            {% endif %}
          {% endfor %}
      </div>

        {% for obj in data_objs %}
            {% if check_type(obj, 'MulImage') %}
                {% include 'stm_mul.jinja' %}

            {% elif check_type(obj, 'StmMatrix') or check_type(obj, 'StmSm4') or check_type(obj, 'StmSxm') %}
                {% include 'stm_fw_bw.jinja' %}

            {% elif check_type(obj, 'Image') %}
                {% include 'image.jinja' %}

            {% elif check_type(obj, 'XpsScan') %}
                {% include 'xps_scan.jinja' %}

            {% elif check_type(obj, 'Aes') %}
                {% include 'aes.jinja' %}

            {% elif check_type(obj, 'Qcmb')  %}
                {% include 'qcmb.jinja' %}

            {% endif %}
        {% endfor %}

        <a href="#top">Back to Top</a>

        <!-- The Modal/Lightbox -->
        <div id="myModal" class="modal">
          <span class="close cursor" onclick="closeModal()">&times;</span>
          <div class="modal-content">

                {% for obj in data_objs %}
                    {% if check_type(obj, 'MulImage') %}
                        <div class="mySlides">
                            <div class="numbertext">{{ obj.m_id }}</div>
                          <img src="{{ obj.img_data.data_uri }}" width="100%" />
                          <div class="caption-container">
                            <p id="caption">{{ obj.m_id }}</p>
                          </div>
                        </div>

                  {% elif check_type(obj, 'StmMatrix') or check_type(obj, 'StmSm4') or check_type(obj, 'StmSxm') %}
                      <div class="mySlides">

                        <div class="numbertext">{{ obj.m_id }}</div>
                        <img src="{{ obj.img_data_fw.data_uri }}" width="100%"/>

                        <div class="numbertext">{{ obj.m_id }}</div>
                        <img src="{{ obj.img_data_bw.data_uri }}" width="100%"/>

                        <!--
                        <div class="caption-container">
                          <p id="caption">{{ obj.m_id }}</p>
                        </div>
                      -->
                      </div>

                    {% elif check_type(obj, 'Image') %}
                        <div class="mySlides">
                            <div class="numbertext">{{ obj.m_id }}</div>
                          <img src="{{ obj.png_str }}" width="100%" />
                          <div class="caption-container">
                            <p id="caption">{{ obj.m_id }}</p>
                          </div>
                        </div>
                    {% endif %}
                {% endfor %}
            <!-- Next/previous controls -->
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
          </div>
        </div>

    <script>{% include 'slideshow.js' %}</script>
    <script>{% include 'top_button.js' %}</script>
  </body>
</html>
