<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }} - Report</title>
    <script>{% include 'bokeh-3.2.1.min.js' %}</script>
    <script>{% include 'bokeh-widgets-3.2.1.min.js' %}</script>
    <script>{% include 'bokeh-tables-3.2.1.min.js' %}</script>
    <style>{% include 'style.css' %}</style>
  </head>
  <body>
    <h1>{{ title }} - Report</h1>
      <div>
          <ul class="navbar_ul">
              <li class="navbar_li"><a href="file:///{{ files_dir }}" class="navbar_a">Files</a></li>
              <li id="dark-mode-button" class="navbar_li">&#127763;</li>
          </ul>
      </div>
      <div id="toc">
          {% for obj in data_objs %}
              {% if check_type(obj, 'LabJournalHeader') %}
              <div>
                  <h2>{{ obj.day.date() }}</h2>
                  <h3>{{ obj.title }}</h3>
                  <p>Experimenters: {{ obj.experimenters }}</p>
                  <p>Comment: {{ obj.comment }}</p>
                  <p>Identifier: {{ obj.identifier }}</p>
              </div>
              {% endif %}
            {% endfor %}



          {% for obj in data_objs %}
            {% if check_type(obj, 'MulImage') and obj.m_id.endswith('_1') %}
                <li><a href="#{{ obj.basename }}">{{ obj.basename }}</a>
                    {% if obj.nap_gas is defined %}
                        <strong>NAP-Gas: </strong> {{ obj.nap_gas }}, 
                        <strong>p<sub>NAP</sub></strong> = {{ obj.nap_p }} mbar, 
                        <strong>T</strong> = {{ obj.T }}
                    {% endif %}
                    <!-- (<strong>Sputtering:</strong> E = {{ obj.sp_E }} keV, p(Ar) = {{ obj.sp_p }} mbar, t = {{ obj.sp_t }} min; -->
                    <!-- <strong>Annealing:</strong> T = {{ obj.an_T }} K, p(O<sub>2</sub>) = {{ obj.an_p }} mbar, t = {{ obj.an_t}} min) -->
                </li>

            {% elif  check_type(obj, 'XpsScan') and obj.m_id.endswith('_1') %}
                <li><a href="#{{ obj.basename }}">{{ obj.basename }}</a>
                </li>

            {% elif check_type(obj, 'Aes') %}
                <li><a href="#{{ obj.m_id }}">{{ obj.basename }}</a></li>

            {% elif check_type(obj, 'Image') %}
                <li><a href="#{{ obj.m_id }}">{{ obj.basename }}</a></li>

            {% elif check_type(obj, 'StmFlm') %}
                <li><a href="{{ obj.mp4_name }}">{{ obj.basename }}</a></li>

            {% elif check_type(obj, 'ErrorFile') %}
                <div id="error-file">'{{ obj.basename }}' could not be processed!</div>

            {% endif %}
          {% endfor %}
      </div>
        <details open>
            <summary>Overview</summary>
            <div id="overview"></div>
        </details>

        {% for obj in data_objs %}
            {% if check_type(obj, 'MulImage') %}
                {% include 'stm_mul.jinja' %}

            {% elif check_type(obj, 'StmMatrix') or check_type(obj, 'StmSm4') or check_type(obj, 'StmSxm') or check_type(obj, 'NanosurfNid') %}
                {% include 'stm_fw_bw.jinja' %}

            {% elif check_type(obj, 'Image') %}
                {% include 'image.jinja' %}

            {% elif check_type(obj, 'XpsScan') %}
                {% include 'xps_scan.jinja' %}

            {% elif check_type(obj, 'Aes') %}
                {% include 'aes.jinja' %}

            {% elif check_type(obj, 'Qcmb')  %}
                {% include 'qcmb.jinja' %}

            {% elif check_type(obj, 'Ec4') or check_type(obj, 'CvLabview') or check_type(obj, 'CaLabview') or check_type(obj, 'FftLabview') %}
                {% include 'ec4.jinja' %}

            {% endif %}
        {% endfor %}

        <!-- The Modal -->
        <div id="modal">
          <span id="close" class="close" >&times;</span>
            <span id="slide-info">info</span>
          <div class="modal-image-container">
              <a id="prev" class="prev-next" >&#10094;</a>
                <div id="modal-image"><p></p></div>
              <a id="next" class="prev-next" >&#10095;</a>
          </div>
        </div>

        <!-- Top Button -->
        <button onclick="topFunction()" id="top_button" title="Go to top"><strong>&#8679;</strong></button> 

    <script>{% include 'modal.js' %}</script>
    <script>{% include 'top_button.js' %}</script>
    <script>{% include 'dark_mode.js' %}</script>
    <script>{% include 'overview.js' %}</script>
  </body>
</html>
