<div class="row">
  <div class="xps_plot">
    {{ obj.script }}
    {{ obj.div }}
  </div>

  <div class="table_column">
    <table style:"width=100%" >
      <tr>
        <th id="{{ obj.m_id }}">ID</th>
        <td>{{ obj.m_id }}</td>
      </tr>
      <tr>
        <th>Datetime</th>
        <td>{{ obj.datetime.strftime("%Y-%m-%d %H:%M:%S") }}</td>
      </tr>
      {% if obj.u_start %}
          <tr>
            <th>U<sub>start</sub></th>
            <td>{{ "{:.3f}".format(obj.u_start) }} V</td>
          </tr>
          <tr>
            <th>U<sub>1</sub></th>
            <td>{{ "{:.3f}".format(obj.u_1) }} V</td>
          </tr>
          <tr>
            <th>U<sub>2</sub></th>
            <td>{{ "{:.3f}".format(obj.u_2) }} V</td>
          </tr>
          <tr>
            <th>Rate</th>
            <td>{{ "{:.3f}".format(obj.rate) }} V</td>
          </tr>
    {% endif %}
    </table>
  </div>

  <!-- LABJOURNAL DATA -->
  {% if obj.par1 or obj.par2 or obj.par3 or obj.surface or obj.tip %}
      <div class="table_column">
        <table style:"width=100%" >
          {% if obj.surface %}
              <tr><th>Surface</th><td>{{ obj.surface }}</td></tr>
            {% endif %}
          {% if obj.par1 %}
              <tr><th>Tip</th><td>{{ obj.par1 }}</td></tr>
            {% endif %}
          {% if obj.par2 %}
              <tr><th>Gas Ambient</th><td>{{ obj.par2 }}</td></tr>
            {% endif %}
          {% if obj.par3 %}
              <tr><th>Electrolyte</th><td>{{ obj.par3 }}</td></tr>
          {% endif %}
          {% if obj.par4 %}
              <tr><th>Reference Electrode</th><td>{{ obj.par4 }}</td></tr>
          {% endif %}
          {% if obj.par5 %}
              <tr><th>Picostat current range</th><td>{{ obj.par5 }} µA/V</td></tr>
          {% endif %}
          {% if obj.observations %}
              <tr><th>Observations</th><td>{{ obj.observations }}</td></tr>
          {% endif %}
          {% if obj.sample_sh %}
              <tr><th>Sample short</th><td>{{ obj.sample_sh }}</td></tr>
          {% endif %}
          {% if obj.support %}
              <tr><th>Support</th><td>{{ obj.support }}</td></tr>
          {% endif %}
        </table>
      </div>
  {% endif %}

  {% if obj.remarks %}
  <div class="remark_column">
    <b>Remark</b>
    <p>{{ obj.remarks }}</p>
  </div>
  {% endif %}

</div><!-- End row -->
