<div class="row">
  <div class="stm_image">
    <img id="{{ obj.m_id }}" src="{{ obj.png_str }}" class="hover-shadow" data-slide-num="{{ obj.slide_num }}"/>
  </div>

  <div class="table_column">
    <table style:"width=100%" >
      <tr>
        <th>ID</th>
        <td>{{ obj.m_id }}</td>
      </tr>
      <tr>
        <th>Datetime</th>
        <td>{{ obj.datetime.strftime("%Y-%m-%d %H:%M:%S") }}</td>
      </tr> <tr>
        <th>Surface</th>
        <td>{{ obj.surface }}</td>
      </tr>
    </table>
  </div>
    
  {% if obj.remark %}
  <div class="remark_column">
    <b>Remark</b>
    <p>{{ obj.remark }}</p>
  </div>
  {% endif %}
</div><!-- End row -->
