{% if obj.m_id.endswith('_1') %}
    <h2 id="{{ obj.basename }}">{{ obj.basename }}</h2>
{% endif %}
<div class="row">

  <div class="stm_image">
    <img id="{{ obj.m_id }}" src="{{ obj.img_data.data_uri }}" class="hover-shadow" data-slide-num="{{ obj.slide_num }}" />
  </div>
  <!-- IMAGE METADATA -->
  <div class="table_column">
    <table>
      <tr>
        <th>Image ID</th>
        <td><a href="file:///{{ obj.filepath }}">{{ obj.m_id}}</a></td>
      </tr>
      <tr>
        <th>Datetime</th>
        <td>{{ obj.datetime.strftime("%Y-%m-%d %H:%M:%S") }}</td>
      </tr>
      <tr>
        <th>I<sub>tun</sub></th>
        <td>{{ "{:.2f}".format(obj.current) }} nA</td>
      </tr>
      <tr>
        <th>U<sub>tun</sub></th>
        <td>{{ "{:.1f}".format(obj.bias) }} mV</td>
      </tr>
      <tr>
        <th>Scan Size</th>
        <td>{{ "{:.0f}".format(obj.xsize) }} &#215; {{ "{:.0f}".format(obj.ysize) }} nm&#178;</td>
      </tr>
      <tr>
        <th>Resolution</th>
        <td>{{ obj.xres }} &#215; {{ obj.yres }}</td>
      </tr>
      <tr>
        <th>Tilt</th>
        <td>{{ obj.tilt }}&#176;</td>
      <tr>
        <th>Scan Duration</th>
        <td>{{ "{:.2f}".format(obj.speed) }} s</td>
      </tr>
      <tr>
        <th>Line Time</th>
        <td>{{ "{:.2f}".format(obj.line_time) }} ms</td>
      </tr>
      <tr>
        <th>Offset</th>
        <td>{{ "{:.2f}".format(obj.xoffset) }} nm, {{ "{:.2f}".format(obj.yoffset) }} nm</td>
      </tr>
      <tr>
        <th>Gain</th>
        <td>{{ obj.gain }}</td>
      </tr>
      <tr>
        <th>Mode</th>
        <td>{{ obj.mode }}</td>
      </tr>
    </table>
  </div>
  <!-- LABJOURNAL DATA -->
  <div class="table_column">
    <table style:"width=100%" >
      {% if obj.m_id.endswith('_1') %}
          <tr>
            <th colspan="2" style="text-align:center">Sputtering</th>
          </tr>
          <tr>
            <th>Energy</th><td>{{ obj.sp_E }} eV</td>
          </tr>
          <tr>
            <th>p(Ar)</th><td>{{ obj.sp_p }} mbar</td>
          </tr>
          <tr>
            <th>Time</th><td>{{ obj.sp_t }} min</td>
          </tr>
          <tr><td colspan="2"><hr></td></tr>
          <tr>
            <th colspan="2" style="text-align:center">Annealing</th>
          </tr>
          <tr>
            <th>Temperature</th><td>{{ obj.an_T }} K</td>
          </tr>
          <tr>
            <th>p(O<sub>2</sub>)</th><td>{{ obj.an_p }} mbar</td>
          </tr>
          <tr>
            <th>Time</th><td>{{ obj.an_t }} min</td>
          </tr>
          <tr><td colspan="2"><hr></td></tr>
      {% endif %}
      <tr>
        <th>Surface</th><td>{{ obj.surface }}</td>
      </tr>
      <tr>
        <th>Tip</th><td>{{ obj.tip }}</td>
      </tr>
      <tr>
        <th>NAP Gas</th><td>{{ obj.nap_gas }}</td>
      </tr>
      <tr>
        <th>p(NAP)</th><td>{{ obj.nap_p }} mbar</td>
      </tr>
      <tr>
        <th>T</th><td>{{ obj.T }} </td>
      </tr>
    </table>
  </div>
  <!-- LABJOURNAL REMARK -->
  {% if obj.remark %}
  <div class="remark_column">
      <b>Remark</b>
      <p>{{ obj.remark }}</p>
  </div>
  {% endif %}

</div><!-- End of one row -->
