{% if obj.m_id.endswith('_1') %}
    <h2 id="{{ obj.basename }}">{{ obj.basename }}</h2>
{% endif %}
<div class="row">
  <div class="xps_plot">
    {{ obj.script }}
    {{ obj.div }}
  </div>

  <div class="table_column">
    <table style:"width=100%" >
      <tr>
        <th>ID</th>
        <td>{{ obj.m_id }}</td>
      </tr>
      <tr>
        <th>Scan Number</th>
        <td>{{ obj.scan_number }}</td>
      </tr>
      <tr>
        <th>Datetime</th>
        <td>{{ obj.datetime.strftime("%Y-%m-%d %H:%M:%S") }}</td>
      </tr>
      <tr>
        <th>Region</th>
        <td>{{ obj.start }} - {{ obj.end }} eV</td>
      </tr>
      <tr>
        <th>Step</th>
        <td>{{ obj.step }} eV</td>
      </tr>
      <tr>
        <th>Sweeps</th>
        <td>{{ obj.sweeps }}</td>
      </tr>
      <tr>
        <th>Dwell</th>
        <td>{{ obj.dwell }} s</td>
      </tr>
      <tr>
          <th>E<sub>pass</sub></th>
        <td>{{ obj.e_pass }} eV</td>
      </tr>
    </table>
  </div>

  {% if obj.remarks %}
  <div class="remark_column">
    <b>Remark</b>
    <p>{{ obj.remarks }}</p>
  </div>
  {% endif %}

</div><!-- End row -->
