<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }} - Report</title>
    <script>{% include 'bokeh-2.3.1.min.js' %}</script>
    <script>{% include 'bokeh-widgets-2.3.1.min.js' %}</script>
    <script>{% include 'bokeh-tables-2.3.1.min.js' %}</script>
    <style>{% include 'style.css' %}</style>
  </head>
  <body>
    <button onclick="topFunction()" id="top_button" title="Go to top">Top</button> 
    <h1>{{ title }} - Report</h1>
      <div>
          <ul class="navbar_ul">
          <li class="navbar_li"><a href="file:///{{ files_dir }}" class="navbar_a">Files</a></li>
          </ul>
      </div>
      <div id="toc">
        <h2>Multi-Files and Movies</h2>
          {% for obj in cls_objs %}
            {% if check_type(obj, 'StmMul') and obj.m_id.endswith('_1') %}
                <li><a href="#{{ obj.basename }}">{{ obj.basename }}</a>
                    (<strong>Sputtering:</strong> E = {{ obj.sp_E }} keV, p(Ar) = {{ obj.sp_p }} mbar, t = {{ obj.sp_t }} min;
                    <strong>Annealing:</strong> T = {{ obj.an_T }} K, p(O<sub>2</sub>) = {{ obj.an_p }} mbar, t = {{ obj.an_t}} min)
                </li>

            {% elif  check_type(obj, 'XpsScan') and obj.m_id.endswith('_1') %}
                <li><a href="#{{ obj.basename }}">{{ obj.basename }}</a>
                </li>

            {% elif check_type(obj, 'Flm') %}
                <li><a href="{{ obj.filepath }}">{{ obj.basename }}</a></li>

            {% endif %}
          {% endfor %}
      </div>

        {% for obj in cls_objs %}
            {% if check_type(obj, 'StmMul') %}
                {% include 'stm_mul.jinja' %}

            {% elif check_type(obj, 'StmMatrix') %}
                {% include 'stm_matrix.jinja' %}

            {% elif check_type(obj, 'Image') %}
                {% include 'image.jinja' %}

            {% elif check_type(obj, 'XpsScan') and obj.xps == "vtstm" %}
                {% include 'xps_scan.jinja' %}

            {% elif check_type(obj, 'Qcmb')  %}
                {% include 'qcmb.jinja' %}

            {% endif %}
        {% endfor %}

        <a href="#top">Back to Top</a>

        <!-- The Modal/Lightbox -->
        <div id="myModal" class="modal">
          <span class="close cursor" onclick="closeModal()">&times;</span>
          <div class="modal-content">

                {% for obj in cls_objs %}
                    {% if check_type(obj, 'StmMul') %}
                        <div class="mySlides">
                            <div class="numbertext">{{ obj.m_id }}</div>
                          <img src="{{ obj.png_str }}" width="100%" />
                          <div class="caption-container">
                            <p id="caption">{{ obj.m_id }}</p>
                          </div>
                        </div>

                  {% elif check_type(obj, 'StmMatrix') %}
                      <div class="mySlides">

                        <div class="numbertext">{{ obj.m_id }}</div>
                        <img src="{{ obj.png_str_fw }}" width="100%"/>

                        <div class="numbertext">{{ obj.m_id }}</div>
                        <img src="{{ obj.png_str_bw }}" width="100%"/>

                        <!--
                        <div class="caption-container">
                          <p id="caption">{{ obj.m_id }}</p>
                        </div>
                      -->
                      </div>

                    {% elif check_type(obj, 'Image') %}
                        <div class="mySlides">
                            <div class="numbertext">{{ obj.m_id }}</div>
                          <img src="{{ obj.png_str }}" width="100%" />
                          <div class="caption-container">
                            <p id="caption">{{ obj.m_id }}</p>
                          </div>
                        </div>
                    {% endif %}
                {% endfor %}
            <!-- Next/previous controls -->
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
          </div>
        </div>

    <script>{% include 'slideshow.js' %}</script>
    <script>{% include 'top_button.js' %}</script>
  </body>
</html>
