<div class="row">
  <div class="stm_image">
    <img id="{{ obj.m_id }}" src="{{ obj.png_str }}"
    onclick="openModal();currentSlide({{ obj.slide_num }})" class="hover-shadow" width=100% />
  </div>

  <div class="table_column">
    <table style:"width=100%" >
      <tr>
        <th>ID</th>
        <td>{{ obj.m_id }}</td>
      </tr>
      <tr>
        <th>Datetime</th>
        <td>{{ obj.datetime }}</td>
      </tr> <tr>
        <th>Surface</th>
        <td>{{ obj.surface }}</td>
      </tr>
      <tr>
        <th>slide num</th>
        <td>{{ obj.slide_num }}</td>
      </tr>
    </table>
  </div>

  <div class="table_column">
    <table style:"width=100%" >
      <tr>
        <th>Labjournal Table</th>
        <td>DAta</td>
      </tr>
      <tr>
        <th>Labjournal Table</th>
        <td>DAta</td>
      </tr>
      <tr>
        <th>slide num</th>
        <td>{{ obj.slide_num }}</td>
      </tr>
    </table>
  </div>
    
  {% if obj.remark %}
  <div class="remark_column">
    <b>Remark</b>
    <p>{{ obj.remark }}</p>
  </div>
  {% endif %}
</div><!-- End row -->
