<div class="row">

  <div class="stm_image">
    <img id="{{ obj.m_id }}" src="{{ obj.png_str_fw }}" onclick="openModal();currentSlide({{ obj.slide_num }})" class="hover-shadow" width=100% />
  </div>
  <div class="stm_image">
    <img id="{{ obj.m_id }}" src="{{ obj.png_str_bw }}" onclick="openModal();currentSlide({{ obj.slide_num }})" class="hover-shadow" width=100% />
  </div>
  <!-- IMAGE METADATA -->
  <div class="table_column">
    <table>
      <tr>
        <th>Image ID</th>
        <td>{{ obj.m_id}}</td>
      </tr>
      <tr>
        <th>Datetime</th>
        <td>{{ obj.datetime }}</td>
      </tr>
      <tr>
        <th>I<sub>tun</sub></th>
        <td>{{ "{:.2f}".format(obj.current) }} nA</td>
      </tr>
      <tr>
        <th>U<sub>tun</sub></th>
        <td>{{ "{:.1f}".format(obj.bias) }} mV</td>
      </tr>
      <tr>
        <th>Scan Size</th>
        <td>{{ "{:.0f}".format(obj.xsize) }} &#215; {{ "{:.0f}".format(obj.ysize) }} nm&#178;</td>
      </tr>
      <tr>
        <th>Resolution</th>
        <td>{{ obj.xres }} &#215; {{ obj.yres }}</td>
      </tr>
      <tr>
        <th>Tilt</th>
        <td>{{ obj.tilt }}&#176;</td>
      <tr>
        <th>Scan Duration</th>
        <td>{{ "{:.2f}".format(obj.speed) }} s</td>
      </tr>
      <tr>
        <th>Line Time</th>
        <td>{{ "{:.2f}".format(obj.line_time) }} ms</td>
      </tr>
      <tr>
        <th>Offset</th>
        <td>{{ "{:.2f}".format(obj.xoffset) }} nm, {{ "{:.2f}".format(obj.yoffset) }} nm</td>
      </tr>
    </table>
  </div>
  <!-- LABJOURNAL DATA -->
  <div class="table_column">
    <table style:"width=100%" >
      <tr>
        <th>Surface</th><td>{{ obj.surface }}</td>
      </tr>
      <tr>
        <th>Tip</th><td>{{ obj.tip }}</td>
      </tr>
    </table>
  </div>
  <!-- LABJOURNAL REMARK -->
  {% if obj.remark %}
  <div class="remark_column">
      <b>Remark</b>
      <p>{{ obj.remark }}</p>
  </div>
  {% endif %}

</div><!-- End of one row -->
