body {
  font-family: sans-serif;
  margin: 20px;
}
h1 {
  text-align: center;
}
table {
  border-spacing: 0;
}
th, td {
  text-align: left;
  padding: 5px 15px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
 /* Three image containers (use 25% for four, and 50% for two, etc) */
#toc {
  padding: 20px;
}
.navbar_ul{
    list-style-type: none;
    margin: 0;
    padding: 8px;
    background-color: #24292E;
    border-radius: 20px;
}
.navbar_li{
    display: inline;
}
.navbar_a{
    color:white;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 18px;
}
.row {
  margin-bottom: 15px;
  border-style: solid;
  border-width: 0px;
  border-color: grey;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0  2px 2px #c2c2c2;
}
.stm_image {
  cursor: pointer;
  float: left;
  width: 20%;
  padding: 20px;
}
.xps_plot {
  float: left;
  width: 40%;
  padding: 20px;
}
.qcmb_plot {
  float: left;
  width: 50%;
  padding: 20px;
}
.table_column {
  float: left;
  width: 20%;
  padding: 20px;
}
.remark_column {
  float: left;
  width: 20%;
  padding: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0,0,0,0.95);
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  max-width: 850px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -50px;
  padding: 17px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 10px 10px 10px 10px;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -50px;
  padding: 17px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
  border-radius: 10px 10px 10px 10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.24);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  padding: 2px 12px;
  position: relative;
  top: -8px;
}

/* Caption text */
.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
}
img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#top_button {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #FFB3BA; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#top_button:hover {
  background-color: #40d1b6; /* Add a dark-grey background on hover */
}
